extends ../header/layoutAdmin
block head
	link(rel="stylesheet", href="/css/lib/resizeable-image.css")
	link(rel="stylesheet", href="/css/lib/animate.css")
block content
	main
		.container
			.section.row
				form#ajoutProd.dropzone.card-panel.col.s12.m12.l12.animated.fadeInDown(action='/admin/ajout_prod',method="post", enctype="multipart/form-data")
					.input-field.col.s12.m6.l6
						i.mdi-content-content-paste.prefix
						input#desig.validate(type='text',pattern="^[a-zA-Z0-9\ \.\-\_]{1,25}$",name="desc_prod", required)
						label(for='desig') Designation du Produit
					.input-field.col.s12.m6.l6
						i.mdi-editor-attach-money.prefix
						input#prix.validate(type='number',name="prix_prod",min="0",max="100000",step="any", required)
						label(for='prix') Prix du produit
					.input-field.col.s12.m4.l4
						i.mdi-action-event.prefix
						input#date.datepicker(type='date',name="date_prod", required)
						label(for='date') Date d'entrée du produit
					.col.s12.m4.l4
						br
						select(name="categorie",required)
							option(value='',selected) Catégorie du produit
							each cat in categories
								option(value='#{cat.id_cat}')= cat.nom_cat
					.input-field.col.s12.m4.l4
						input#add_cat.col.s8.m8.l8.validate(type='text', required)
						label(for='add_cat') Ajouter Categorie
						a.btn-floating.waves-effect.waves-light-blue
							i.mdi-content-add
					
					.col.s12.m12.l12.input-field.file-field
						input.file-path.validate(type='text',placeholder="Image du produit")
						.btn.btn-flat.waves-effect.waves-light
							span Image
							input(type='file', name="image_prod",accept="image/*", required)
					
					.col.s12.m12.l12.center-align#imgResult
						.content
							.component
								.overlay
									.overlay-inner
								img#imgUploaded.resize-image
								a.btn-flat.blue.white-text.btn-crop.js-crop Couper
									i.mdi-content-content-cut.right
					.col.s12.m12.l12.row
						br
						label.middle-text Disponibilité du produit
						
						.switch
							label.col.s12.m12.l12
								span.red-text Non Disponible
								input(type='checkbox', name="etat_prod")
								span.lever
								span.green-text Disponible
					.col.s12.m12.l12.row
						.input-field.col.s12.m6.l6.center-align
							button.btn-flat.teal.white-text.waves-effect.waves-light(type='submit')
								| Ajouter
								i.mdi-navigation-check.right
						.input-field.col.s12.m6.l6.center-align
							button.btn.waves-effect.waves-light-blue(type='reset')
								| Reset
					.input-field.col.s12.m12.l12.center-align
						#loader.preloader-wrapper.big
							.spinner-layer.spinner-green-only
								.circle-clipper.left
									.circle
block footerSupp
	script(src="/js/lib/resizeableImage.js")
	script.
		$(document).ready(function(){
			$('.datepicker').pickadate({
				format: "dd-mm-yyyy"
				});
			$('select').material_select();
			$('input[type="file"]').change(function(e){
				var img = document.querySelector('#imgUploaded');
				img.src=URL.createObjectURL(e.target.files[0]);
				resizeableImage($('.resize-image'));
				$('.materialboxed').materialbox();
			});
		});
	script(src="/js/handler/ajout_prod.js")