extends header/layoutError

block content
	.container.section.row
		.col.s12.m4.offset-m4.l4.offset-l4.margined-top.center-align
			h1.red-text.text-lighten-2 OOOPS.
			h4.grey-text.text-lighten-1 Page non Trouvé.
			a.waves-effect.waves-red.btn.btn-flat.white.btn-large.margined-top(href="/")
				i.mdi-action-home.right
				| Accueil

