footer.page-footer.blue-grey.darken-4
	.container
		.row
			
			.col.l2.m2.s12
				h5.white-text Pages
				ul
					li
						a.grey-text.text-lighten-3(href='/') Accueil
					li
						a.grey-text.text-lighten-3(href='/presentation') Presentation
					li
						a.grey-text.text-lighten-3(href='/produits') Produits
					li
						a.grey-text.text-lighten-3(href='/contact') Contact
			.col.l10.m10.s12.row
				.col.s12.m4.l4
					h5.white-text Contact
					p.grey-text.text-lighten-4
						| #{entreprise.coordones}
						br
						| Fixe : #{entreprise.contact}
				.col.s12.m8.l8
					div.z-depth-1#map-canvas
	.footer-copyright
		.container
			| © 2015 Copyright
			a.grey-text.text-lighten-4(href='#!')  W.Chaabane
			//a.grey-text.text-lighten-4.right(href='#!') W.Chaabane
			a.grey-text.text-lighten-3.right(href="http://www.pcmax-dz.com",target="_blanc") PCMAX


script(src="/js/lib/jquery-2.1.1.min.js")
script(src="/js/lib/materialize.min.js")
script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAPnwSQsJBCieFtEZWO9XQmuVbw3NonPSM")
script.
	var longitude= #{entreprise.long},laltitude= #{entreprise.lalt};
script(src="/js/handler/map.js")
