doctype html
html
	head
		meta(charset="utf-8")
		title= entreprise.nom
		meta(name="description", content="admin")
		meta(name="viewport" ,content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		block head
		link(rel='stylesheet', href='/css/lib/materialize.min.css')
		link(rel='stylesheet', href='/css/lib/theme.materialize.css')
		link(rel='stylesheet', href='/css/style.css')
		
		
	body
		include menuAdmin
		block content
		include ../footer/footerAdmin
		block footerSupp