nav.white
	.nav-wrapper
		a.brand-logo.waves-effect.waves-light.deep-orange-text(href='/') LA TELLOISE
			//img(src="/img/logo.svg")
		a.button-collapse(href='#', data-activates='mobile-demo')
			i.mdi-navigation-menu.deep-orange-text
		ul.right.hide-on-med-and-down
			li.waves-effect.waves-light
				a.deep-orange-text(href='/') Accueil
			li.waves-effect.waves-light
				a.deep-orange-text(href='/presentation') Presentation
			li.waves-effect.waves-light
				a.deep-orange-text(href='/produits') Produits
				//- .dropdown-button,data-beloworigin="true", data-activates='dropdownProd'
				//- ul#dropdownProd.dropdown-content.no-overflow
				//- 	li
				//- 		a.deep-orange-text(href='/produits/fruits') Fruits
				//- 	li.divider
				//- 	li
				//- 		a.deep-orange-text(href='/produits/legumes') Legumes
			li.waves-effect.waves-light
				a.deep-orange-text(href='/contact') Contact
			li.waves-effect.waves-light
				a.deep-orange-text(href='/admin/')
					i.mdi-social-person
		ul#mobile-demo.side-nav
			li
				a.deep-orange-text(href='/admin/')
					i.mdi-social-person
			li
				a.deep-orange-text(href='/') Accueil
			li
				a.deep-orange-text(href='/presentation') Presentation
			li
				a.deep-orange-text(href='/produits') Produits
			li
				a.deep-orange-text(href='/contact') Contact
